<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Expenses for <%#=month %> (<a href="/transactions/3">View in details</a>)</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
    <div class="feature col">
      <%= bar_chart @chartkick_data, height: '1200px' %>
    </div>
  </div>
</div>
